@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #020617;
  --card: #ffffff;
  --primary: #10b981;
  --border: #e2e8f0;
  --secondary: #475569;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
  --card: #0f172a;
  --primary: #34d399;
  --border: #1e293b;
  --secondary: #94a3b8;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-bengali), sans-serif;
  transition: all 0.3s ease;
}

@layer components {
  .ko-card {
    @apply bg-card border border-border rounded-xl shadow-sm transition-all;
  }
  .btn-krishoky {
    @apply bg-primary text-white px-5 py-2 rounded-lg font-bold hover:opacity-90 transition-all cursor-pointer;
  }
}